.container {
  @extend %cf;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
  background-color: $c_white;
  box-shadow: 0 5px 15px rgba($c_black,.2);
}

.row {
  @extend %cf;
}

.col {
  float: left;
  
  &--one {
  	width: 33.33333333%;
  }

  &--two {
  	width: 66.66666667%;
  }

  &--right {
  	float: right;
  }
}
