// font-family
$font-family_base: 'PT Sans', Helvetica, Arial, Verdana, sans-serif;
// font-size
$font-size_base: 14px;
$font-size_sm  : 16px;
$font-size_md  : 21px;
$font-size_lg  : 30px;
// line-height
$line-height_base: 21px;  
$line-height_sm  : 24px;
$line-height_md  : 26px;  
// font-weight
$font-weight_regular: 400;
$font-weight_bold   : 700;


// colors http://chir.ag/projects/name-that-color
$c_black       : #000;
$c_white       : #fff;

$c_half-baked  : #81b3d2;
$c_gallery     : #eee;
$c_pine-cone   : #766357;
$c_concrete    : #f2f2f2;
$c_kabul       : #604e43;
$c_mine-shaft  : #333;


// border-radius
$border-radius_base: 2px;
$border-radius_round: 50%;


// Responsive
$brkpoint_sm: 1px;
$brkpoint_md: 768px;
$brkpoint_lg: 1100px;