.promo {
  padding-top: 77px;
  padding-bottom: 82px;   
  text-align: center;
  background: image-url("promo_border.png") no-repeat 50% 100% / 100% 57px,
              image-url("promo_bg.jpg") no-repeat 50% 0 fixed;

  &__welcome {
    @extend %center-block;
    margin-bottom: 55px;
    @include replace-text-with-dimensions("promo_welcome.png");
  }

  &__title {
    @extend %center-block;
    margin-bottom: 55px;
    @include replace-text-with-dimensions("promo_title.png");
  }

  &__quote {
    @extend %center-block;
    @include replace-text-with-dimensions("promo_quote.png");
  }
}