 .search {
  padding-top: 55px;
  padding-bottom: 200px;
  text-align: center;
  background: $white image-url("map.jpg") center 256px no-repeat;

  &__title {
    display: block;
    margin-bottom: 30px;
    font-size: $font-size--lg;
    line-height: ($line--md/$font-size--lg);
  }

  &__text {
    margin-bottom: 35px;
    line-height: ($line--sm/$font-size--base);
  }

}