.form {
  width: 568px;
  margin: 0 auto;

  &__header {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: $font-size_md;
    line-height: ($line-height_md/$font-size_md);
    color: $c_white;
    background-color: $c_pine-cone;
  }

  &__body {
    padding: 55px 54px;
    font-size: $font-size_base;
    text-align: left;
    background-color: $c_white;
    box-shadow: 0 7px 15px rgba($c_black,.15);
  }

  &__label {
    display: block;
    margin-bottom: 29px;
    font-size: 0;
    font-weight: $font-weight_bold;
    line-height: ($line-height_md/$font-size_base);
    vertical-align: middle;
    white-space: nowrap;

    &--half {
      float: left;
      width: 50%;
    }
  }

  &__text {
    display: inline-block;
    width: 112px;
    font-size: $font-size_base;

    &--child {
      padding-left: 42px;
    }
  }

  &__input-wrap {
    position: relative;
    display: inline-block;
    font-size: $font-size_base;
  }

  &__input {
    font-weight: $font-weight_bold;
    line-height: ($line-height_md/$font-size_base);
    text-transform: uppercase;
    background-color: $c_concrete;
    border: none;
    outline: none;
    @include placeholder($c_black);
    
    &--lg {
      width: 346px;
      padding: 7px 40px 6px 15px;
    }

    &--sm {
      width: 118px;
      padding: 7px 40px 6px;
      text-align: center;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .2;
    @include trz;

    &:hover {
      opacity: 1;
    }

    &--calendar {
      @include use-sprite("calendar");
    }

    &--minus {
      left: 0;
      @include use-sprite("minus");
    }

    &--plus {
      @include use-sprite("plus");
    }
  }

  &__submit {
    @extend %btn;
    width: 100%;
    margin-top: 25px;
    padding: 15px 20px;
    font-size: $font-size_md;
    font-weight: $font-weight_bold;
    line-height: ($line-height_md/$font-size_md);
  }
  
}