.main-nav {
  
  &__list {
    @extend %cf;
    background-color: $c_white;
  }

  &__item {
    float: left;
    width: 20%;

    &--right {
      float: right;
    }
  }

  &__link {
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    font: $font-weight_bold #{$font-size_base}/($line-height_md/$font-size_base) $font-family_base; 
    text-align: center;
    white-space: nowrap;
    @include trz;

    &:hover {
      color: $c_half-baked;
    }

    &:active {
      color: rgba($c_black,.3);
    }

    &--active {
      color: $c_pine-cone;

      &:hover {
        color: $c_kabul;
      }

      &:active {
        color: rgba($c_pine-cone,.3);
      }
    }

  }


}