.page-footer {
  height: 120px;
  padding-top: 36px;
  text-align: center;
  background-color: $c_white;

  &--inside {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba($c_white,.9);
  }

  &__hashtag {
    @extend .h2;
    margin-top: 15px;
  }

  &__copyright {
    margin-top: 10px;
    line-height: ($line-height_md/$font-size_base);
  }

  &__copy-link {
    @extend %hide-text;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: middle;

    &--author {
      @include use-sprite("author");
    }

    &--client {
      @include use-sprite("client");
    }
  }
}